<div class="row">
<div class=".col-md-4 left">
<img src="<%= asset_path( 'egg_logo.jpg' ) %>" class="logo"/>
</div>
<div class=".col-md-8 left">
<h1>Welcome to GiftEgg</h1>
<h3>A little birdie told me it was your birthday!</h3>
</div>
</div>


<p>Never forget a birthday again! Sign up to get text message reminders 2 weeks before your giftee's birthday.</p>
