<img src="../../assets/images/egg_logo.jpg">
<h1>Welcome to GiftEgg</h1>
<h3>A little birdie told me it was your birthday!</h3>

<p>Never forget a birthday again! Sign up to get text message reminders 2 weeks before your giftee's birthday.</p>
